---
layout: home
permalink: /education/
title: "Educational"
---

{% assign rawposts = paginator.posts %}

<!-- Hide posts if front matter flag hide:true -->
{% assign posts = ''|split:'' %}
{% for post in rawposts %}
  {% if post.hide != true %}
    {% assign posts = posts|push:post%}
  {% endif %}
{% endfor %}

 <!-- Assemble final sorted posts array -->
<h1>Presentations & Workshops</h1>
<p>Here I've aggregated all my presentations & workshops into one singular page. Hopefully something interesting in the form of a workshop or presentation exists here!</p>

<h2>Workshops</h2>
<ul class="post-list">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- for post in site.categories.workshop -%}
    {% assign counter = forloop.index %}
    {% if counter < 4 %}
        <li>
            {%- if site.show_image -%}
                {%- include post_list_image_card.html -%}
            {% else %}
                {%- include post_list.html -%}
            {%- endif -%}
        </li>
    {% else %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
        <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
        </article>
    {%- endif -%}
{%- endfor -%}
</ul>

<h2>Presentations</h2>
<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.categories.presentation -%}
        {% assign counter = forloop.index %}
        {% if counter < 4 %}
            <li>
                {%- if site.show_image -%}
                    {%- include post_list_image_card.html -%}
                {% else %}
                    {%- include post_list.html -%}
                {%- endif -%}
            </li>
        {% else %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <article class="archive-item">
            <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
            </article>
        {%- endif -%}
    {%- endfor -%}
</ul>