---
layout: home
permalink: /education/
title: "Education: Presentations & Workshops"
---

{% assign rawposts = paginator.posts %}

<!-- Hide posts if front matter flag hide:true -->
{% assign posts = ''|split:'' %}
{% for post in rawposts %}
  {% if post.hide != true %}
    {% assign posts = posts|push:post%}
  {% endif %}
{% endfor %}

 <!-- Assemble final sorted posts array -->

<h2>Workshops</h2>
<ul class="post-list">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- for post in site.categories.workshop -%}
<li>
    {%- if site.show_image -%}
        {%- include post_list_image_card.html -%}
    {% else %}
        {%- include post_list.html -%}
    {%- endif -%}
</li>
{%- endfor -%}
</ul>

<h2>Presentations</h2>

<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.categories.presentation -%}
    <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
    </li>
    {%- endfor -%}
    </ul>